<h1>Broadcast mode</h1>

<ul>
  <li><a href="/load.json">Load</a></li>
  <li><a href="/memory.json">Memory</a></li>
  <li><a href="/swap.json">Swap</a></li>
  <li><a href="/disk_space.json">Disk Space</a></li>
  <li><a href="/disk_io.json">Disk IO</a></li>
  <li><a href="/users.json">Users</a></li>
  <li><a href="/cpu.json">CPU</a></li>
  <li><a href="/process.json">Process</a></li>
  <li><a href="/network_io.json">Network IO</a></li>
</ul>
